<!--
Body Section
http://www.menucool.com/vertical/vertical/vertical-menu
-->



    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">


                    <div class="brands_products"><!--brands_products-->
                        <h2>Hesabım </h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('userpanel_show') }}"> <span class="pull-right"></span>Bilgilerim</a></li>
                                <li><a href="{{ path('userpanel_edit') }}"> <span class="pull-right"></span>Bilgilerimi Düzenle</a></li>
                                <li><a href="{{ path('order_detail_index') }}"> <span class="pull-right"></span>Siparişlerim</a></li>
                                <li><a href="{{ path('home_shopcart_index') }}"> <span class="pull-right"></span>Sepetim</a></li>
                                <li><a href="{{ path('app_logout') }}"> <span class="pull-right"></span>Çıkış Yap</a></li>

                            </ul>
                        </div>
                    </div><!--/brands_products-->



                </div>
            </div>

        </div>
    </div>























































