

<form class="form-horizontal" name="order" action="{{ path('orders_front_new') }}" method="post">
    <fieldset>
        <label class="col-sm-2 control-label">Ödenecek Tutar :</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[amount]" value="{{ total }}" placeholder="name" class="form-control form-control-static"/>
        </div>
        <hr>
        KARGO ALICI BİLGİLERİ<hr>
        <label class="col-sm-2 control-label">Adı Soyadı</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[name]" value="{{ app.user.name }}" placeholder="name" class="form-control form-control-static"/>
        </div>
        <label class="col-sm-2 control-label">Adresi </label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[amount]" value="{{ app.user.address }}" placeholder="Adresi" class="form-control form-control-static"/>
        </div>
        <label class="col-sm-2 control-label">Şehir </label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[city]" value="{{ app.user.city }}" placeholder="subject" class="form-control form-control-static"/>
        </div>
        <label class="col-sm-2 control-label">Telefon </label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[phone]" value="{{ app.user.phone }}" placeholder="subject" class="form-control form-control-static"/>
        </div>
        <hr>
        KREDİ KARTI BİLGİLERİ
        <hr>
        <label class="col-sm-2 control-label">Adı Soyadı</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="cartholdername"  placeholder="Kart adı soyadı" class="form-control form-control-static"/>
        </div>
        <label class="col-sm-2 control-label">Kart Numarası</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="cartnumber"  placeholder="Kart adı soyadı" class="form-control form-control-static"/>
        </div>
        <label class="col-sm-2 control-label">Son Kullanma Tarihi</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="cartvaliddates"  placeholder="AY/YIL" class="form-control form-control-static"/>
        </div>
        <label class="col-sm-2 control-label">Güvenlik Kodu</label>
        <div class="control-group" col-sm-5>
            <input type="number" name="cartsecuritycode"  placeholder="güvenlik kodu" class="form-control form-control-static"/>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('form-order') }}" />
        <label class="col-sm-2 control-label">    </label><hr>
        <div class="control-group" col-sm-5>
            <input class="shopBtn" type="submit"  value="Satın Al">
        </div>
    </fieldset>
</form>