{% extends 'adminbase.html.twig' %}
{% block title %}Product Listesi{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Liste</h4> </div><br>
            <small><a href="{{ path('admin_product_new') }}" class="btn btn-danger">Yeni Ekle</a> </small>

            <!-- /.col-lg-12 -->
        </div>
        <div class="white-box">

            <div class="table-responsive">
                <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>

                <th>sprice</th>
                <th>Detail</th>
                <th>Image</th>
                <th>Gallery</th>
                <th>Category_id</th>
                <th>Status</th>
                <th>Göster</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.sprice }}</td>
                <td>{{ product.detail }}</td>
                <td>
                    <a href="javascript:openWin('{{ path('admin_product_iedit', {'id':product.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,resizable=no,width=600,height=500');">

                    {% if product.image==null %}
                     <img src="{{ url('admin') }}/img/image.png" height="32">
                    {% else %}
                        <img src="{{ asset('uploads') }}/images/{{ product.image }}" height="40">
                    {% endif %}
                    </a>

                </td>
                <td>
                <a href="javascript:openWin('{{ path('admin_image_new', {'pid':product.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,resizable=no,width=600,height=500');">

                <img src="{{ url('admin') }}/img/gallery.png" height="55">
                </a></td>
                <td>{{ product.categoryId }}</td>
                <td>{{ product.status }}</td>

                <td>
                    <a href="{{ path('admin_product_show', {'id': product.id}) }}" class="btn btn-block btn-info btn-xs">Göster</a>
                </td><td>
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-block btn-primary btn-xs">Düzenle</a>
                </td>
                <td>
                    {{ include('admin/product/_delete_form.html.twig') }}
                </td>
            </tr>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_product_new') }}">Create new</a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>
</div>
{% endblock %}
