{% extends 'frontbase.html.twig' %}

{% block title %} SEPET{% endblock %}

{% block sidebar %} {{ include ('home/_usersidebar.html.twig') }} {% endblock %}
{% block body %}
<div class="col-sm-9 padding-right">
    <div class="product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                {{ include ('home/messages.html.twig') }}
    <h1>Sipariş Detayı</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ order.userid }}</td>
            </tr>
            <tr>
                <th>Adet</th>
                <td>{{ order.amount }}</td>
            </tr>
            <tr>
                <th>Adı</th>
                <td>{{ order.name }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ order.adress }}</td>
            </tr>
            <tr>
                <th>Şehir</th>
                <td>{{ order.city }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ order.phone }}</td>
            </tr>
            <tr>
                <th>Ürün Durum</th>
                <td>{{ order.shipinfo }}</td>
            </tr>
            <tr>
                <th>Durum</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Not (Servisde)</th>
                <td>{{ order.note }}</td>
            </tr>

        </tbody>
    </table>







    {{ include('orders/_delete_form.html.twig') }}
            </div> </div></div></div>

{% endblock %}
